<h1>Nouveau Voyage</h1>

<form>

  <mat-form-field appearance="outline">
    <mat-label>Titre</mat-label>
    <input matInput placeholder="Un titre pour votre voyage" [formField]="tripForm.title" />
    @if (tripForm.title().invalid() && (tripForm.title().touched() || tripForm.title().dirty())) {
    <mat-error>
      @for (error of tripForm.title().errors(); track $index) {
      <div>{{error.message}}</div>
      }
    </mat-error>
    }
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>Description</mat-label>
    <textarea matInput placeholder="Une description de votre voyage" [formField]="tripForm.description"></textarea>
    @if (tripForm.description().invalid() && (tripForm.description().touched() || tripForm.description().dirty())) {
    <mat-error>
      @for (error of tripForm.description().errors(); track $index) {
      <div>{{error.message}}</div>
      }
    </mat-error>
    }
  </mat-form-field>

  <div class="date-time-row">
    <mat-form-field appearance="outline">
      <mat-label>Date de début</mat-label>
      <input matInput [matDatepicker]="startDatepicker" [formField]="tripForm.startAt">
      <mat-datepicker #startDatepicker />
      <mat-datepicker-toggle [for]="startDatepicker" matSuffix />
      @if (tripForm.startAt().invalid() && (tripForm.startAt().touched() || tripForm.startAt().dirty())) {
      <mat-error>
        @for (error of tripForm.startAt().errors(); track $index) {
        <div>{{error.message}}</div>
        }
      </mat-error>
      }
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Heure de début</mat-label>
      <input matInput [matTimepicker]="startTimepicker" [formField]="tripForm.startAt">
      <mat-timepicker #startTimepicker />
      <mat-timepicker-toggle [for]="startTimepicker" matSuffix />
    </mat-form-field>
  </div>

  <div class="date-time-row">
    <mat-form-field appearance="outline">
      <mat-label>Date de fin</mat-label>
      <input matInput [matDatepicker]="endDatepicker" [formField]="tripForm.endAt">
      <mat-datepicker #endDatepicker [startAt]="tripForm.startAt().value()" />
      <mat-datepicker-toggle [for]="endDatepicker" matSuffix />
      @if (tripForm.endAt().invalid() && (tripForm.endAt().touched() || tripForm.endAt().dirty())) {
      <mat-error>
        @for (error of tripForm.endAt().errors(); track $index) {
        <div>{{error.message}}</div>
        }
      </mat-error>
      }
    </mat-form-field>
  </div>

  <mat-form-field appearance="outline">
    <mat-label>Heure de fin</mat-label>
    <input matInput [matTimepicker]="endTimepicker" [formField]="tripForm.endAt">
    <mat-timepicker #endTimepicker />
    <mat-timepicker-toggle [for]="endTimepicker" matSuffix />
  </mat-form-field>
  <!-- 

    <mat-form-field appearance="outline">
    <mat-label>Dates de voyage</mat-label>
    <mat-date-range-input [rangePicker]="picker">
      <input matStartDate placeholder="Date de début" [formField]="tripForm.startAt">
      <input matEndDate placeholder="Date de fin" [formField]="tripForm.endAt">
    </mat-date-range-input>
    <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-date-range-picker #picker></mat-date-range-picker>
    @if (tripForm.startAt().invalid() && (tripForm.startAt().touched() || tripForm.startAt().dirty())) {
      <mat-error>
        @for (error of tripForm.startAt().errors(); track $index) {
          <div>{{error.message}}</div>
        }
      </mat-error>
    }
    </mat-form-field>

    <mat-form-field appearance="outline">
    <mat-label>Heure de début</mat-label>
    <input matInput type="time" [formField]="tripForm.startTime"/>
    @if (tripForm.startTime().invalid() && (tripForm.startTime().touched() || tripForm.startTime().dirty())) {
      <mat-error>
        @for (error of tripForm.startTime().errors(); track $index) {
          <div>{{error.message}}</div>
        }
      </mat-error>
    }
    </mat-form-field>

    <mat-form-field appearance="outline">
    <mat-label>Heure de fin</mat-label>
    <input matInput type="time" [formField]="tripForm.endTime"/>
    @if (tripForm.endTime().invalid() && (tripForm.endTime().touched() || tripForm.endTime().dirty())) {
      <mat-error>
        @for (error of tripForm.endTime().errors(); track $index) {
          <div>{{error.message}}</div>
        }
      </mat-error>
    }
    </mat-form-field> -->

  <mat-form-field appearance="outline">
    <mat-label>Lieu</mat-label>
    <input matInput placeholder="Ex: Col de la Schlucht" [formField]="tripForm.locationLabel" />
    @if (tripForm.locationLabel().invalid() && (tripForm.locationLabel().touched() || tripForm.locationLabel().dirty()))
    {
    <mat-error>
      @for (error of tripForm.locationLabel().errors(); track $index) {
      <div>{{error.message}}</div>
      }
    </mat-error>
    }
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>Adresse</mat-label>
    <input matInput placeholder="Adresse" [formField]="tripForm.address" />
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>Ville</mat-label>
    <input matInput placeholder="Ville" [formField]="tripForm.city" />
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>Pays</mat-label>
    <input matInput placeholder="Pays" [formField]="tripForm.country" />
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>Code postal</mat-label>
    <input matInput placeholder="Code postal" [formField]="tripForm.postalCode" />
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>Capacité</mat-label>
    <input matInput type="number" [formField]="tripForm.capacity" />
    @if (tripForm.capacity().invalid() && (tripForm.capacity().touched() || tripForm.capacity().dirty())) {
    <mat-error>
      @for (error of tripForm.capacity().errors(); track $index) {
      <div>{{error.message}}</div>
      }
    </mat-error>
    }
  </mat-form-field>

  <mat-checkbox [formField]="tripForm.isPaid">Voyage payant</mat-checkbox>

  @if (trip().isPaid) {
  <mat-form-field appearance="outline">
    <mat-label>Prix</mat-label>
    <input matInput type="number" placeholder="Prix en €" [formField]="tripForm.price" />
    @if (tripForm.price().invalid() && (tripForm.price().touched() || tripForm.price().dirty())) {
    <mat-error>
      @for (error of tripForm.price().errors(); track $index) {
      <div>{{error.message}}</div>
      }
    </mat-error>
    }
  </mat-form-field>
  }

  <button type="button" mat-button="filled" (click)="onSubmit()" [disabled]="status() === 'submitting'">
    Créer le voyage
  </button>

</form>