<mat-toolbar>
  <mat-toolbar-row>
    <button matMiniFab aria-label="Example icon button with a menu icon">
      <mat-icon>menu</mat-icon>
    </button>
    <span>TripApp</span>

    <button matButton routerLink="/trips">Liste des voyages</button>
    @if (!user()) {
      <button matButton="tonal" routerLink="/register">S'enregistrer</button>
      <button matButton="tonal" routerLink="/login">Se connecter</button>
    } @else {
      <span>Bonjour {{user()?.name}} !</span>
      <button matButton routerLink="/trips/add">Créer un voyage</button>
      <button matButton routerLink="/my-trips">Mes voyages</button>
      <button matButton="tonal" (click)="logout()" redirect>Se déconnecter</button>
    }
  </mat-toolbar-row>
</mat-toolbar>
