.trip-card {
  max-width: 600px;
  margin: 2rem auto;
}

mat-card-image {
  background-size: cover;
}

.trip-header-image {
  // background-image: url('https://material.angular.dev/assets/img/examples/shiba1.jpg');
  background-size: cover;
}