@if (trip.isLoading()) {
<p>Chargement...</p>
} @else if (trip.error()) {
<p>Erreur lors du chargement du voyage</p>
} @else if (trip.hasValue()) {

<a mat-button (click)="goBack()">← Retour</a>
<mat-card class="trip-card" appearance="outlined">
  <mat-card-header>
      <mat-card-title>{{trip.value().title}}</mat-card-title>
      <mat-card-subtitle>{{trip.value().locationLabel}}</mat-card-subtitle>
  </mat-card-header>
  <img mat-card-image [src]="getFile(trip.value())" alt="Trip image">
  <mat-card-content>
    <p>
      {{trip.value().description}}
    </p>
    <p>{{trip.value().startAt | date:'dd/MM/yyyy HH:mm'}} → {{trip.value().endAt | date:'dd/MM/yyyy HH:mm'}}</p>
    <p>{{trip.value().capacity}} places</p>
    <p>{{trip.value().address}}</p>
    <p>Organisé par : {{trip.value().creatorName}}</p>
    @if (trip.value().isPaid) {
    <p>Prix : {{trip.value().price}} €</p>
    } @else {
    <p>Gratuit</p>
    }
  </mat-card-content>
  <mat-card-actions>
    <button matButton>S'inscrire</button>
  </mat-card-actions>
</mat-card>
}